.notification
  = render partial: 'chat-side__group'

.chat-main
  .chat-main__header
    .chat-main__header--group
      .chat-main__header--group-name
        = @group.name
      =link_to "Edit", edit_group_path(@group), class: "chat-edit"
    .caht-main__header-members
      MEMBER:
      - @group.users.each do |user|
        %span= user.name

  .chat-main__body
    = render partial: 'message', collection: @messages
  .chat-main__footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__footer-form', placeholder: 'type a message'
      = f.label :image, class: 'form__mask__image' do
        = fa_icon 'picture-o', class: 'icon3'
        = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'sent'





    / = form_tag '#' do
    /   %input{placeholder: "  type a message", type: "text", class: "chat-main__footer-form"}
    /     %label.upload-label{for: "upload-icon"}
    /       %i.fa.fa-picture-o
    /       %input{type: "file", id:"upload-icon" }
/     /       %input{type: "submit", value:"SENT", class:"sent"}
/ %a.chat-edit(href="https://www.google.co.jp/")
/         Edit
